<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net45" />
  <package id="CefSharp.Common" version="47.0.3" targetFramework="net45" />
  <package id="CefSharp.OffScreen" version="47.0.3" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net45" />
  <package id="Platform.NET" version="1.1.0.197" targetFramework="net45" />
  <package id="Platform.Xml.Serialization" version="1.1.0.197" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.99.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.99.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.99.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.99.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net45" />
  <package id="WebSocketSharp" version="1.0.3-rc9" targetFramework="net45" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net45" />
</packages>